@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #282c34;
  --secondary-color: #f1356d;
}

* {
  font-family: "Quicksand";
}
