@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #282c34;
  --secondary-color: #f1356d;
}

* {
  margin: 0;
  font-family: 'Quicksand';
}
.navbar {
  color: #fff;
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  color: #fff;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--secondary-color);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
